body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
}

header {
    background-color: #800000; /* Rojo vino */
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

#productos img {
    max-width: 200px;
    margin: 10px;
}
